@media print, (max-width: 1487px)
{
    /*-------------------
        Global styles
    -------------------*/
    .swiper-button-next,
    .swiper-button-prev
    {
        bottom: 20px;
    }


    .swiper-button-prev
    {
        right: 72px;

        margin-right: 0;
    }

    .swiper-button-next
    {
        right: 20px;

        margin-right: 0;
    }


    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction
    {
        bottom: 28px;
        left: 32px;

        margin-left: 0;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .slide .image
    {
        height: 308px;
    }



    /*-------------
        LK info
    -------------*/
    .lk_info
    {
        padding-right: 0;
    }
}
